.*
~*
!.github
!.gitignore
!.travis.yml
!.pre-commit-config.yaml
!tests/.coveragerc
coverage.xml
dist/
src/pdf_cli.egg-info
src/pdf_cli/version.py
*.pyc
tests/data/ocr.txt
tests/data/sample.rotated.pdf
